[Desktop Entry]
Name=Traceroute
Type=Application
Comment=Matt's Traceroute - network diagnostic tool
Comment[pl]=Traceroute Matta - narzędzie do diagnostyki sieci
Exec=mtr-gtk
Icon=mtr
Terminal=false
Categories=Network;
# vi: encoding=utf-8
